
h1, h2 {
  font-size: 70px;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}

h3 {
  color: white;
}

li.nostyle {
  list-style-type: none;
}

p, li, ol {
  font-family: 'Roboto', sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: #202020;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

footer p {
  color: white;
}

.about-me {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.contact-section {
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: center;
}

.contact-section .right-side {
  display: flex;
  align-items: center;
  padding: 40px;
  background-color: #202020;
}

.contact-section .right-side li {
  color: white;
  font-size: 50px
}

.contact-section .left-side {
  padding: 20px 40px 20px 40px;
  font-size: 70px;
  display: flex;
  margin: 0;
}

.github-icon {
  max-width: 70px;
  padding-right: 30px;
}

.linkedin-icon {
  max-width: 70px;
  padding-right: 30px;
}

.gh-div {
  display: flex;
  align-items: center;
}

.li-div {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.intro {
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: center;
}

.intro .left-side h1 {
  color: white;
}

.intro .left-side {
  display: flex;
  align-items: center;
  padding: 20px 40px 20px 40px;
  margin: 0;
  background-color: #202020;
}

.intro .right-side {
  padding: 20px 40px 20px 40px;
  margin: 0;
  font-size: 20px;
  display: flex;
}
